anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
Babel
backcall
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
colorama
comm
debugpy
decorator
defusedxml
executing
fastjsonschema
fqdn
greenlet
idna
iniconfig
ipykernel
ipython
isoduration
jedi
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab_server
MarkupSafe
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook_shim
overrides
packaging
pandocfilters
parso
pickleshare
platformdirs
playwright
pluggy
prometheus-client
prompt-toolkit
psutil
pure-eval
pycparser
pyee
Pygments
pytest
pytest-base-url
pytest-playwright
python-dateutil
python-dotenv
python-json-logger
python-slugify
pywin32
pywinpty
PyYAML
pyzmq
referencing
requests
rfc3339-validator
rfc3986-validator
rpds-py
Send2Trash
setuptools
six
sniffio
soupsieve
stack-data
terminado
text-unidecode
tinycss2
tornado
traitlets
types-python-dateutil
typing_extensions
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
